
.jumbotron {
    padding-top: rem;
    margin-bottom: 10px;
  }
  
  #about {
    
  }
  
  #project {
    margin-top: 50px;
    padding-bottom: 50px;
    background-color: antiquewhite;
  }
  
  #contact {
    background-color: #24305E;
  }
  
  section{
      padding-top: 5rem;
  }

  a {
    text-decoration: none;
    color: black;
  }